body{
  background: $bgColor;
  font-family: sans-serif;
  .main-wrapper{
    width: 80%;
    margin: 0 auto;
    header{
      padding: 0 2%;
      height: 300px;
      width: 100%;
      .logo{
        width: 40%;
        float: left;
        img{
          width: 100%;
        }
      }
      nav{
        float: right;
        width: 50%;
        box-sizing: content-box;
        margin-top: 230px;
        border-top: 2px solid $borderHeaderColor;
        border-bottom: 2px solid $borderHeaderColor;
        padding: 10px 0;
        margin-right: 6%;
        a{
          float: right;
          text-decoration: none;
          font-size: 25px;
          color: $linkColor;
          margin: 0 10%;
        }
      }
    }
    .toolbar{
      width: 100%;
      height: 30px;
      margin: 50px 0;
      input{
        border: 2px solid $linkColor;
        margin-right: 4%;
        float: right;
        width: 200px;
        height: 40px;
        font-size: 20px;
        color: $linkColor;
      }
      input::placeholder{
        color: $linkColor;
      }
    }
    .post-list{
      width: 100%;
      article{
        margin: 1%;
        padding: 2%;
        width: 43%;
        height: 800px;
        float: left;
        background: $articleBackground;
        img{
          width: 100%;
        }
        div{
          .post-description{
            color: $postDescriptionColor;
          }
        }
        h3{
          border-top: 2px solid $borderHeaderColor;
          padding: 5px 0;
          color: $h3Color;
        }
        p{
          color: $articleParColor;
        }
      }
    }
    .about{
      margin: 2%;
      display: inline-block;
      h1{
        margin-left: 91%;
        color: $linkColor;
      }
      p{
        color: $articleParColor;
        line-height: 25px;
      }
    }
    div{
      img{
        width: 100%;
      }
    }
  }
  .contact-form{
    h1{
      margin-left: 60%;
      float: right;
      color: $linkColor;
      padding-right: 2%;
    }
    h4{
      padding-right: 2%;
      float: right;
      color: $linkColor;
    }
    form{
      padding: 2%;
      width: 100%;
      margin-bottom: 70px;
      .info{
        width: 96%;
        height: 30px;
        margin: 10px 0;
      }
      textarea{
        width: 96%;
        height: 200px;
        margin-bottom: 20px;
      }
      button{
        margin-right: 4%;
        width: 200px;
        height: 60px;
        float: right;
        background-color: $linkColor;
        color: $submit;
      }
    }
  }
  footer{
    margin: 20px 0;
  }
}

