$bgColor : #ffffff;
$borderHeaderColor : #617D8A;
$linkColor: #21BCD3;
$articleBackground : #EFEFEF;
$postDescriptionColor : #21BCD3;
$h3Color: #21BCD3;
$articleParColor: #A6ACAE;
$submit: #ffffff;