$bgColor : #EFEFEF;
$borderHeaderColor : #617D8A;
$linkColor: #FC5830;
$articleBackground : #FFFFFF;
$postDescriptionColor : #C4C5C6;
$h3Color: #617D8A;
$articleParColor: #8C8783;
$submit: #ffffff;